:root {
  /* Netflix Fonts */
  --bold-font: netflix-bold;
  --light-font: netflix-light;
  --medium-font: netflix-medium;
  --regular-font: netflix-regular;
}

@font-face {
  font-family: netflix-bold;
  src: url("fonts/NetflixSans-Bold.otf");
}
@font-face {
  font-family: netflix-light;
  src: url("fonts/NetflixSans-Light.otf");
}
@font-face {
  font-family: netflix-medium;
  src: url("fonts/NetflixSans-Medium.otf");
}
@font-face {
  font-family: netflix-regular;
  src: url("fonts/NetflixSans-Regular.otf");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.mainContainer {
  position: relative;
  width: 100%;
  height: 100vh;
  background: url("assets/bg-image.jpg") center / cover no-repeat;
  box-shadow: inset 0px 0px 85px 55px hsl(0, 0%, 0%);
}
.mainContainer::before {
  content: "";
  position: absolute;
  background: hsla(0, 0%, 0%, 0.7);
  inset: 0;
}
.mainContainer {
  position: relative;
  z-index: 1;
}
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2px 100px;
  opacity: 0.95;
}
.logoImg {
  width: 20%;
}

.logoImg img {
  width: 100%;
  height: 100px;
  object-fit: cover;
}
.navContent {
  display: flex;
  gap: 5px;
}
.button {
  font-family: var(--light-font);
  padding: 6px 10px;
  font-size: 15px;
  background-color: transparent;
  border: 0;
  outline: 0;
  border-radius: 5px;
}
#langBtn {
  border: 1px solid #fff;
  background-color: hsla(0, 0%, 0%, 0.8);
  color: #fff;
}
#signBtn {
  background-color: hsl(0, 100%, 50%);
  color: #fff;
  cursor: pointer;
}
#signBtn:hover {
  background-color: hsl(0, 100%, 40%);
}

.mainHeading {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 120px 0px;
  opacity: 0.95;
  gap: 10px;
}
#mainHead {
  width: 40%;
  font-size: 52px;
  color: #fff;
  text-align: center;
  font-family: var(--bold-font);
}
#mainPara {
  color: #fff;
  font-size: 18px;
  font-family: var(--medium-font);
}
#mainParagraph {
  color: #fff;
  font-size: 16px;
  margin-top: 20px;
  font-family: var(--light-font);
  margin-top: 2%;
}

.inputBtn {
  width: 38%;
  display: flex;
  gap: 10px;
  margin-top: 0.5%;
  padding: 0px 10px;
}
.inputBtn input {
  width: 100%;
  padding: 16px 15px;
  background-color: hsla(0, 0%, 8%, 0.6);
  border: none;
  outline: none;
  border: 1px solid hsl(0, 100%, 100%);
  color: hsl(0, 100%, 100%);
  border-radius: 5px;
  font-family: var(--light-font);
  font-size: 16px;
}
.inputBtn input::placeholder {
  color: hsl(0, 100%, 100%);
}
.btn {
  width: 60%;
  background-color: hsl(0, 100%, 50%);
  color: hsl(0, 100%, 100%);
  cursor: pointer;
}
button {
  width: 100%;
  border: none;
  outline: none;
  font-size: 22px;
  border-radius: 5px;
  font-weight: bold;
  font-family: var(--light-font);
  display: flex;
  align-items: center;
  justify-content: center;
}
.btn:hover {
  background-color: hsl(0, 100%, 40%);
}
.btn i {
  font-size: 20px;
  margin-left: 10%;
}

.curve {
  position: relative;
  top: 50px;
  height: 300px;
  background-color: #851124;
  border-top-left-radius: 55% 27%;
  border-top-right-radius: 55% 27%;
}

.curve::before {
  content: "";
  position: absolute;
  top: 5px;
  left: 0;
  width: 100%;
  height: 338px;
  background: #000;
  border-top-left-radius: 45% 20.2%;
  border-top-right-radius: 45% 20.2%;
}

/* movie list */
.movieList {
  position: absolute;
  top: 100%;
  width: 100%;
  height: 100vh;
  background-color: black;
  color: white;
  z-index: 1;
}

.sectionHeading #sectionHead {
  font-family: var(--bold-font);
  width: 80%;
  margin: auto;
  font-size: 24px;
  text-transform: capitalize;
}

.sectionCard {
  position: relative;
  width: 80%;
  margin: auto;
  padding: 50px 30px;
}
.sectionCard img {
  border-radius: 10px;
  width: 100%;
  object-fit: contain;
  border: 1px solid white;
}
#cardImg {
  width: 20%;
}
.sectionCard::before {
  content: "1";
  position: absolute;
  top: 75%;
  left: 5%;
  font-size: 25px;
}

/* media query */
@media screen and (max-width: 1024px) {
  #mainHead {
    width: 50%;
  }
  .inputBtn {
    width: 100%;
  }
}

@media screen and (max-width: 768px) {
  .mainContainer {
    height: 100%;
  }
  #mainHead {
    width: 100%;
  }

  .inputBtn {
    width: 100%;
  }
}

@media screen and (max-width: 500px) {
  .navbar {
    flex-direction: column;
  }
  .logoImg {
    width: 100%;
  }
  #mainParagraph {
    text-align: center;
  }
  .inputBtn {
    flex-direction: column;
  }
  .btn {
    width: 100%;
  }
}
